.ace_scrollbar {
    z-index: 0 !important;
}

.reveal .katex {
    font-family: "KaTeX_Main", Verdana, serif;
}

$buttons-width: 75%;

tim-dialog {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 95vh;

    &.overflow-visible {
        .modal-body {
            overflow-y: visible;
        }
    }
}

.modal-body {
    overflow-y: auto;
}

.modal-content {
    &.draggable-content {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        height: 100%;
    }
}

.modal-dialog {
    max-width: 100vw;

    .draghandle {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom: none;
    }
}

.modal-xs {
    width: 215px;
}

.answerButton {
    min-width: 200px;
}

.chart {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.center p {
    text-align: center;
}

h4.questionTitle {
    padding-bottom: 0em !important;
    padding-top: 0em !important;
    font-size: 10pt;
}


p.chart-menu {
    font-size: 11px;
    color: $basic-color;
    margin-left: 20em;
    background: inherit;
}

/* reveal */

.reveal li {
    text-align: left;

}

.dropdown-menu > tim-dropdown-checkbox {
    > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: $line-height-base;
        color: $dropdown-link-color;
        white-space: nowrap;

        &:hover,
        &:focus {
            text-decoration: none;
            color: $dropdown-link-hover-color;
            background-color: $dropdown-link-hover-bg;
        }
    }
    > .active > a {
        &,
        &:hover,
        &:focus {
            color: $dropdown-link-active-color;
            text-decoration: none;
            outline: 0;
            background-color: $dropdown-link-active-bg;
        }
    }
}

.form-horz-flex {
    display: flex;
    align-items: center;

    label {
        flex: 0 0 auto;
        margin-right: 0.5em;
    }
    input, .input-group, tim-duration-picker, textarea, select {
        flex: 0 1 auto;
    }
    tim-error-message {
        flex: 0 0 auto;

        .alert {
            margin: 0;
        }
    }

    tim-duration-picker .form-group {
        margin-bottom: 4px;
    }
}

tim-table {
    .timTableTable {
        //margin-left: 0px;
        margin: 0px;
        margin-top: 1.5em;  /* to leave space for editor buttons */
        margin-right: 0em;  /* - " - */
    }

    button.timTableEditor {
        font-size: xx-small;
        padding: 5px;
    }

    .buttonAddCol {
        position: absolute;
        right: calc(-1em - 11px);
    }

    .buttonRemoveCol {
        position: absolute;
        //right: calc(-2cm - 4px); next to buttonAddCol instead of below it
        right: calc(-0cm - 0px);
        /*top: calc(1cm - 15px);*/
    }

    .buttonAddRow {
        position: absolute;
        bottom: calc(-1em - 10px);
        left:  calc(-1em - 13px);
    }

    .buttonRemoveRow {
        position: absolute;
        bottom: calc(-0em + 5px);
        left:  calc(-1em - 13px);
    }

    .editable {
        border: 2px solid red;
    }

    .forcedEditable {
        //border: 2px dotted red;
    }

    .activeCell {
        border: 2px dotted #33cccc !important;
    }

    .timTableContentDiv {
        position: relative;
        display: table;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

     td input[type="text"] {
        width: 100%;
     }

    .inlineEditorButtons {
        width: -moz-max-content;
    }
}

li.dropradio {
    display: block;
}

.tableform table {
    width: min-content;
    /*margin-left: auto;
    margin-right: auto; */
}

.tableform .timTableRunDiv {
    margin: auto;
}

tim-tape {
    .tapeItem {
        border: 1px solid black;
        display: inline-block;
        margin: 0.2em;
        padding: 0.2em;
    }

    .memoryArea {
        display: block;
        height: 5em;
        overflow: hidden;
    }

    .memoryContainer {
        display: inline-block;
        text-align: center;
        padding: 0.2em;
        margin: 0.1em 0.1em 1em 0.1em;
    }

    .memoryValue {
        border: 1px solid black;
    }

    .memoryIndex {
        font-size: 0.8em;
    }

    .commandListContainer {
        display: inline-block;
        vertical-align: top;
    }

    .newCommandList {
        margin-right: 2em;
    }

    .listBox {
        border: 1px solid black;
    }

    .programCommandList {
        height: 14.4em;
        overflow: hidden;
        overflow-y: scroll;
    }

    .command {
        cursor: pointer;
    }

}

tim-alert {
    pre {
        max-height: 50vh;
    }
}

div.color-picker-input-wrapper.input-group {
    display: inline-flex;
    width: auto;
}

div.color-picker-wrapper.color-picker-closed, div.color-picker-wrapper.color-picker-open {
    display: inline;
}

multisave-runner {
    label {
        font-weight: normal;
    }
}
