@charset "UTF-8";

$basic-color: #3CC;
$basic-color-inverse: invert($basic-color);
$button-bg-color: $basic-color;
$editline-bg-color: $basic-color;
$areacollapse-color: $basic-color;
$tab-bg-color: $basic-color;
$csrundiv-color: $basic-color;
$note-private-color: $basic-color;
$note-public-color: #F60;
$csrunmenu-button-bg-color: $basic-color;
$csrunmenu-link-color: $basic-color;
$timbutton-bg-color: $button-bg-color;
$viewlogin-link-color: $basic-color;
$draghandle-bg-color: $basic-color;
$draghandle-attached-color: #FFF;
$basic-border-color: #B7B7B7;
$bg-color: white;
$material-shadow: none;
$material-bg: white;
$body-margin-left: 250px;
$material-border: none;
$material-border-radius: 0;
$body-text-align: justify;
$body-text-align-xs: left;
$asset-path: "..";
$footer-height: 60px;
$footer-z: -1;
$header-footer-border: 1px solid #e5e5e5;
$editline-width: 3em;
$editline-extra: 1.5em;
$areaeditline-width: 1em;
$readline-offset: -1em;
$readline-width: 10em;
$readline-color: #F60;
$note-width: 30%;
$heading-outdent: -1em;
$icon-color: $basic-color;
$icon-hover-color: darken($basic-color, 10%);
$link-visited-color: #5242CE;
$paragraph-preferred-width: 57.4em;
$inline-code-size: 110%;
$block-code-size: 115%;
$pre-overflow: visible;
$pre-left-border: 4px solid $basic-color;
$pre-background: white;
$container-xs-padding: 0.2em;

// TODO decide if these two are necessary
$left-side-columns: 2;
$right-side-columns: 3;

// Bootstrap variable overrides:
$gray-base: #000;
$gray: lighten($gray-base, 33.5%);
$brand-primary: $basic-color;
$text-color: black;
$input-color: black;
$link-color: #5588FF;
$link-hover-color: darken($link-color, 15%);
$input-color-placeholder: $gray;
$headings-font-weight: 700;
$font-size-base: 14px; // this should probably not be changed from default 14px
$font-size-h1: floor(($font-size-base * 2.29)); // default factor is 2.6
$font-size-h2: floor(($font-size-base * 1.72)); // default factor is 2.15
$font-size-h3: floor(($font-size-base * 1.5)); // default factor is 1.7
$font-family-base: Verdana, Arial, sans-serif;
$font-family-monospace: "Courier New", Courier, serif;
$code-color: inherit;
$code-bg: inherit;
$pre-color: black;
$pre-bg: inherit;
$font-family-sans-serif: Verdana, Arial, sans-serif;
$icon-font-path: "../scripts/build/bootstrap-fonts/";
