@charset "UTF-8";

.questionPar {
  display: inline-block;
  text-align: center;
  margin-top: 0.5em;
  min-height: 4em;
  min-width: 4.8em;

  .parContent {
    display: inline-block;
    vertical-align: top;
  }

  .readline {
    border-width: 0.4em;
    width: 1.1em;
    height: 2.8em;
    display: inline-block;
    margin-left: -3px;
    border-radius: 3px 6px 6px 3px;
    z-index: 3;
    right: 0;
    position: relative;
    top: 0.3em;
  }

  .editline {
    display: inline-block;
    width: 1.5em;
    height: 2.8em;
    border-radius: 6px 3px 3px 6px;
    position: relative;
  }
}

.questionNumber {
  margin: 0.4em auto !important;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1em;
  font-size: x-small;
  position: absolute;
  text-align: center;
}

.explField.explFocus, .explField.hasText, tr:hover .explField {
  opacity: 1;
  border: 1px solid #CCC !important;
}

.explField {
  border: none !important;
  opacity: 0;
}

.explanation {
  border-left: 1px solid #CCC !important;
  text-align: left !important;
}

.qst label {
  margin-bottom: 5px;
  font-weight: normal;
}

.qst .answer-sheet-table {
  margin-left: 2em;
}

.qst button.timButton {
  margin-left: 2em;
}

.qst-points {
  font-size: 0.5em;
  line-height: 0.0em;
  margin-bottom: 1pt;
}

.qst-correct {
  outline: 2pt solid $basic-color;
  outline-offset: 1pt;
}

.qst-normal {
  padding-left: 2pt;
  padding-right: 2pt;
}

.colorchange-button {
  width: 2em;
}

.smallButton {
  height: 1.7em;
  margin-top: 0px;
  padding: 0.1em;
  font-size: 0.9em;
}

@mixin make-cells-middle {
  .table {
    label {
      display: inline;
    }
    > thead, > tbody {
      > tr {
        > th, > td {
          vertical-align: middle;
        }
      }
    }
  }
}

tim-question-matrix {
  display: block;
  margin-left: 1em;
  margin-top: 2em;
  font-weight: normal;

  @include make-cells-middle();

  .form-control {
    padding: 0.2em;
  }

  .form-inline .form-control {
    max-width: 50px;
    max-height: 50px;
  }

  .matrixButtons, .buttonsTop {
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  .matrixButtons {
    padding: 0;
    top: -21px;
    left: -26px;

    button:nth-child(2) {
      margin-top: 13px;
    }
  }

  .buttonsTop {
    top: -25px;
    width: 100%;

    button:first-child {
      position: absolute;
      left: -21px;
    }

    button:nth-child(2) {
      position: relative;
      left: 0;
    }
  }

  td:hover .matrixButtons, .matrixButtons:hover, th:hover .buttonsTop, .buttonsTop:hover {
    opacity: 1;
  }

  .checkRadioCell {
    display: flex;
    align-items: center;
    justify-content: center;

    input[type="radio"], input[type="checkbox"] {
      margin: 2px;
    }
  }
}

dynamic-answer-sheet {
    display: block;
    padding-left: 1em;
    .table {
      width: auto;
      display: inline-table;
    }
    @include make-cells-middle();
}
