@charset "UTF-8";
/* Fontiksi Georgia, harvempi riviväli */
$block-code-size: 100%;
$font-family-base: Georgia, Times, serif, serif;
$font-family-monospace: monospace;
$font-size-base: 15px;
$font-size-h1: floor(($font-size-base * 2.29));
$font-size-h2: floor(($font-size-base * 1.72));
$font-size-h3: floor(($font-size-base * 1.5));
$heading-outdent: 0;
$inline-code-size: 100%;
$line-height-base: 1.75;
$pre-overflow: auto;
$pre-left-border: 0px;
$pre-background: #eff0f1;