{% extends 'item.html' %}
{% block content %}
    <div class="alert alert-warning">
        <i class="glyphicon glyphicon-warning-sign"></i>
        {% if msg %}
            {{ msg }}
        {% elif access.unlockable %}
            You are about to access a time-limited {{ item_type }}.
            After you click Unlock, your access to this {{ item_type }} will be removed in {{ access.duration | timtimedelta }}.
        {% elif access.require_confirm %}
            You can unlock this item only after your permission is confirmed.
        {% elif access.duration_expired %}
            You cannot unlock this item anymore (deadline expired {{ access.duration_to | timreldatetime }}).
        {% elif access.duration_future %}
            You can unlock this item in {{ access.duration_from | timreldatetime }}.
        {% elif access.expired %}
            Your access to this item has expired {{ access.accessible_to | timreldatetime }}.
        {% elif access.future %}
            You can access this item in {{ access.accessible_from | timreldatetime }}.
        {% else %}
            You don't have access to this item.
        {% endif %}
    </div>
    {% if next_doc %}
        <div class="text-center">
            <a href="/view/{{ next_doc.path }}?unlock=true" class="timButton">Go to the next document</a>
        </div>
    {% endif %}
    {% if access.unlockable %}
        <div class="text-center">
            <a href="/view/{{ item.path }}?unlock=true" class="timButton">Unlock</a>
        </div>
    {% endif %}
{% endblock %}
