{% extends "folder.html" %}
{% block title %}{{'{} {}'.format(item.title, '({})'.format(item.location) if item.location else '')}}{% endblock %}
{% block head %}
    {{ super() }}

    <script>
        var items = {{ items | tojson }};
    </script>
{% endblock %}

{% set col_m_lg = 10 %}

{% block content %}
    <tim-index></tim-index>
{% endblock %}
