{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <p class="text-center">
                {% if not hide_require_text %}
                    Login is required for this document.
                {% endif %}
                Please use the above button to log in.
            </p>
        </div>
    </div>
{% endblock %}
