{% extends 'item.html' %}
{% block title %}{{ item.title }} - Manage{% endblock %}
{% block head %}
    {{ super() }}
    <script>
        var accessTypes = {{access_types|tojson}};
        var orgs = {{orgs|tojson}};
    </script>
{% endblock %}
{% block content %}
    <tim-manage></tim-manage>
{% endblock %}
