<tim-dialog>
    <dialog-header>
        Get all answers
    </dialog-header>
    <dialog-body>
        <form name="allAnswersForm" class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="radio-inline">Answer age</label>
                </div>
                <div class="col-sm-9">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.age" value="max">
                            Newest of each user
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.age" value="min">
                            Oldest of each user
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.age" value="all">
                            All
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="radio-inline">Period</label>
                </div>
                <div class="col-sm-9">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.period" value="whenever">
                            Whenever
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.period" value="sincelast">
                            Since last answer fetch ({{ $ctrl.lastFetch | timdate }})
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.period" value="day">
                            Past day
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.period" value="week">
                            Past week
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.period" value="month">
                            Past month
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.period" value="other">
                            Other...
                        </label>
                        <div ng-show="$ctrl.options.period === 'other'">
                            <div class="input-group date" datetimepicker ng-model="$ctrl.options.periodFrom"
                                 options="$ctrl.datePickerOptionsFrom">
                                <input type="text" class="form-control"/>
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                            </div>
                            to
                            <div class="input-group date" datetimepicker ng-model="$ctrl.options.periodTo"
                                 options="$ctrl.datePickerOptionsTo">
                                <input type="text" class="form-control"/>
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="radio-inline">Validity</label>
                </div>
                <div class="col-sm-9">
                    <label class="radio-inline">
                        <input type="radio" ng-model="$ctrl.options.valid" value="1"> Valid
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="$ctrl.options.valid" value="0"> Invalid
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="$ctrl.options.valid" value="all"> All
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="radio-inline">Names</label>
                </div>
                <div class="col-sm-9">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.name" value="both">
                            Username and full name
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.name" value="username">
                            Username only
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.name" value="anonymous">
                            Anonymous username
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-show="$ctrl.showSort">
                <div class="col-sm-3">
                    <label class="radio-inline">Sort by</label>
                </div>
                <div class="col-sm-9">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.sort" value="task">
                            Task, then username
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.sort" value="username">
                            Username, then task
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="radio-inline">Print</label>
                </div>
                <div class="col-sm-9">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.print" value="all">
                            Headers and answers
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.print" value="header">
                            Headers only
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.print" value="answers">
                            Answers only
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.print" value="answersnoline">
                            Answers only without separator line
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.options.print" value="korppi">
                            Korppi export
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </dialog-body>
    <dialog-footer>
        <button class="timButton" type="button" ng-click="$ctrl.ok()">Get answers
        </button>
        <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </dialog-footer>
</tim-dialog>
