<!-- Pop over element --><span class="annotation-element"><span ng-show="actrl.show" ng-click="actrl.updateVelpZIndex()"
                                                                  class="no-popup-menu"
                                                                ng-class="['annotation-info', 'emphasise', 'default', {neutral: actrl.annotation.points == 0, negative: actrl.annotation.points<0, positive: actrl.annotation.points > 0}]"
                                                                ng-keydown="actrl.keyDownFunc($event)" ng-keyup="actrl.keyUpFunc($event)"
                                                                ng-style="{backgroundColor: actrl.getCustomColor()}">
    <span class="fulldiv">
        <span class="div-90 annTopSection">
            <p><span class="annHeader"><strong>{{ actrl.annotation.content }}</strong></span></p>
            <p ng-show="actrl.showFull"><a class="username" href="mailto:{{ actrl.annotation.email }}">{{ actrl.annotation.annotator_name }}</a>
                    <span class="timestamp" title="{{ actrl.annotation.creationtime }}">{{ actrl.annotation.timesince }}</span></p>
        </span>
        <span class="div-10 pull-right">
            <span title="Close" class="glyphicon glyphicon-remove clickable-icon closeAnn"
                  ng-click="actrl.toggleAnnotation();actrl.setShowFull(false)"></span>
        </span>
    </span>


        <div ng-mouseenter="actrl.setShowFull(true);actrl.updateVelpZIndex()">
            <div ng-show="actrl.showFull">
            <p ng-hide="actrl.checkRights() || !actrl.allowChangePoints()"><label>Points: <input type="number" ng-model="actrl.annotation.points" ng-disabled="actrl.checkRights()"
                                                                                     ng-change="actrl.changePoints()"/></label>
            </p>
                <p ng-hide="actrl.isvalid.points.value" class="error">{{ actrl.isvalid.points.msg }}</p>
                <p ng-show="actrl.checkRights()"><label ng-hide="actrl.annotation.points == null">Points:  {{ actrl.annotation.points }}</label></p>
            </div>
            <div ng-hide="actrl.showFull">
              <div ng-show="actrl.annotation.points != null">
                <p><label>Points: {{ actrl.annotation.points }}</label></p>
            </div>
                </div>

    <span class="fulldiv">
        <ul class="comments">
            <li ng-repeat="comment in actrl.annotation.comments">
                <p>{{ comment["content"] }}
                    <span class="comment-info"><a class="username" title="{{ comment.commenter_real_name }}"
                   href="mailto:{{ comment.commenter_email }}">
                    {{ comment.commenter_username }}</a>
                   <span class="timestamp" title="{{ comment.comment_time }}">{{ comment.comment_relative_time }}</span>
                    </span>
                </p>
                <!--strong>{{ comment["commenter_username"] }}</strong-->
                </li>
        </ul>

    </span>
    <div ng-show="actrl.showFull" >
        <textarea focus-me="actrl.focus" placeholder="Add comment" ng-model="actrl.newcomment" ></textarea>
        <div>
            <form class="form-inline adjustAnnForm">
                <!--<div class="form-group"> -->

                    <div>
                    <span ng-hide="actrl.checkRights()">
                        <label ng-class="{disabled: actrl.checkRights()}"><div title="Visible to" ng-class="['annqmark', 'glyphicon', 'glyphicon-eye-open', ]"></div></label>
                        <select ng-model="actrl.visibleOptions.value" ng-disabled="actrl.checkRights()"
                            ng-options="v as actrl.visibleOptions.names[v-1] for v in actrl.visibleOptions.values">
                        </select>
                        <div ng-class="['annqmark', 'glyphicon', 'glyphicon-question-sign', 'clickable-icon']"
                         uib-popover="'Just me' means that the annotation is visible only to yourself. 'Document owner' refers to the person or group who has been named as the document owner. 'Teachers' refers to the users that have teacher access to this document. 'Everyone' means that the annotation is visible to everyone who can view the assessed content."
                         popover-placement="left">
                        </div>
                    </span>

                    <span ng-show="actrl.checkRights()" class="annotationVisibleText">

                        <span title="Visible to" ng-class="['annqmark', 'glyphicon', 'glyphicon-eye-open', ]"></span>
                        {{ actrl.visibleOptions.names[visibleOptions.value - 1] }}

                        <span ng-class="['annqmark', 'glyphicon', 'glyphicon-question-sign', 'clickable-icon']"
                         uib-popover="'Just me' means that the annotation is visible only to yourself. 'Document owner' refers to the person or group who has been named as the document owner. 'Teachers' refers to the users that have teacher access to this document. 'Everyone' means that the annotation is visible to everyone who can view the assessed content."
                         popover-placement="left">
                        </span>

                    </span>
                    <span style="float: right">
                        <input type="color" ng-model="actrl.annotation.color" ng-change="actrl.changeColor()" class="colorchange-button" title="Change annotation color">
                        <input ng-if="actrl.isVelpCustomColor()" class="smallButton" type="button" ng-click="actrl.clearColor()" title="Reset color to original value" value="R">
                    </span>
                    </div>
              <!--  </div> -->
            </form>
        </div>
    </div>
    <span>
        <button class="saveChanges timButton" ng-show="actrl.checkIfChanged()" ng-click="actrl.saveChanges()">Save
        </button>
    </span>
        <div ng-show="actrl.showFull">
        <span class="annDelAnnotation" title="Delete annotation"
                     ng-class="['delAnnotation', 'pull-right', 'glyphicon', 'glyphicon-trash', 'clickable-icon', {hide: actrl.annotation.comments.length > 1} ]"
                     ng-hide="actrl.checkRights()"

                     ng-click="actrl.deleteAnnotation()"></span>
        </div>
         <div class="annotationVisibleText" ng-hide="actrl.showFull">
            {{ actrl.visibleOptions.names[actrl.visibleOptions.value - 1] }}
        </div>
    </div>

</span></span><!--
Highlighted text--><span ng-click="actrl.setShowFull(false);actrl.toggleAnnotation()" class="no-popup-menu" ng-class="['highlighted', 'clickable', 'emphasise', 'default',
{neutral: actrl.annotation.points == 0, negative: actrl.annotation.points < 0, positive: actrl.annotation.points > 0}]" ng-transclude
ng-style="{backgroundColor: actrl.getCustomColor()}"></span>
