<form name="itemForm">
    <tim-alert severity="warning" ng-show="$ctrl.tagsWithExpirations">
        The source document has tags with expiration dates which may need to be updated manually.
    </tim-alert>
    <div class="form-group" tim-error-state>
        <label>
            Title:
            <input class="form-control" name="itemTitle" required ng-model="$ctrl.itemTitle" type="text" ng-change="$ctrl.titleChanged()">
        </label>
        <tim-error-message></tim-error-message>
    </div>
    <div class="form-group" tim-error-state>
        <label>
            Short name:
            <input ng-disabled="$ctrl.force" class="form-control" tim-short-name required name="itemName" ng-model="$ctrl.itemName" type="text"
                   placeholder="Type title first"
                   ng-keyup="$ctrl.nameChanged()">
        </label>
        <div class="checkbox">
            <label>
                <input ng-disabled="$ctrl.force" type="checkbox" ng-model="$ctrl.automaticShortName"> Set automatically based on title
            </label>
        </div>
        <tim-error-message></tim-error-message>
    </div>
    <div class="form-group" tim-error-state>
        <label>
            Location: <input ng-disabled="$ctrl.force" class="form-control" name="itemLocation" type="text" tim-location ng-model="$ctrl.itemLocation">
        </label>
        <tim-error-message></tim-error-message>
    </div>
    <div uib-alert ng-repeat="alert in $ctrl.alerts" ng-class="'alert-' + (alert.type || 'warning')"
         data-close="$ctrl.closeAlert($index)">{{ alert.msg }}</div>
    <button class="timButton" ng-disabled="itemForm.$invalid || $ctrl.creating" ng-click="$ctrl.createItem()" type="button">Create
    </button>
    <span ng-show="$ctrl.creating">Creating...</span>
</form>
