<div class="velpInfo">
    <div ng-class="['velp-content', 'emphasise', 'velp-bg', 'negative']"> <!-- oma popover controller -->
        <textarea cols="28" placeholder="Add comment" autofocus></textarea>
    </div>
</div>