<tim-dialog>
    <dialog-header>
        Print document
    </dialog-header>
    <dialog-body>
        <div ng-show="$ctrl.doctemplate===''">
            <p ng-show="$ctrl.templates.length">The following LaTeX-templates were found that you can use.</p>
            <h5>Please choose a template:</h5>
        </div>

        <form id="template-picker">
            <div class="form-group input-group-sm">
                <div ng-repeat="item in $ctrl.templates">
                    <div class="radio" ng-show="$ctrl.showTemplate(item)">
                        <label>
                            <input type="radio" ng-model="$ctrl.selectedTemplate" ng-value="item"
                                   name="template-selection">
                            <span>{{ item.title }} <span ng-show="$ctrl.showPaths">({{ item.path }})</span></span>
                            <a ng-show="$ctrl.showPaths" ng-href="/view/{{ item.path }}" target="_blank"
                               class="force-hyphenate-link">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </label>
                    </div>
                </div>
            </div>
        </form>

        <p ng-show="($ctrl.templates.length === 0 && $ctrl.doctemplate === '')" class="text-danger">
            No printing templates were found.
        </p>

        <div ng-if="$ctrl.notificationmsg" class="alert alert-warning">
            <strong>Warning!</strong>
            <p>{{ $ctrl.notificationmsg }}</p>
        </div>
        <tim-alert ng-if="$ctrl.errormsg" severity="danger">
            <strong>Error!</strong>
            <p ng-bind-html="$ctrl.errormsg"></p>
            <ul>
                <li ng-if="$ctrl.latexline">
                    <a ng-href="{{ $ctrl.latexline }}" target="_blank">View erroneous LaTeX line</a>
                </li>
                <li ng-if="$ctrl.docUrl">
                    <a ng-href="{{ $ctrl.docUrl }}" target="_blank">Try to view PDF</a>
                </li>
                <li ng-if="$ctrl.latex">
                    <a ng-href="{{ $ctrl.latex }}" target="_blank">View LaTeX</a>
                </li>
                <li ng-if="$ctrl.docUrl">
                    <a ng-href="{{ $ctrl.docUrl+'&showerror=true' }}" target="_blank">Recreation link</a>
                </li>
            </ul>
        </tim-alert>
        <div>
            <label class="footerLabel">
                <input type="checkbox" ng-model="$ctrl.pluginsUserCode">
                Show user answers in plugins
            </label>
        </div>
        <div>
            <label id="printing-dialog-show-paths" title="More output formats and other options">
                <input type="checkbox" ng-model="$ctrl.showPaths">
                Show advanced options
            </label>
        </div>
        <div>
            Output format: &nbsp;
            <label class="footerLabel">
                <input type="radio" ng-model="$ctrl.selected.name" value="PDF">
                PDF
            </label>&nbsp;
            <label class="footerLabel">
                <input type="radio" ng-model="$ctrl.selected.name" value="LaTeX">
                LaTeX
            </label>&nbsp;
            <label class="footerLabel" ng-show="$ctrl.showPaths">
                <input type="radio" ng-model="$ctrl.selected.name" value="MD">
                MD
            </label>&nbsp;
            <label class="footerLabel" ng-show="$ctrl.showPaths">
                <input type="radio" ng-model="$ctrl.selected.name" value="JSON">
                JSON
            </label>&nbsp;
            <label class="footerLabel" ng-show="$ctrl.showPaths">
                <input type="radio" ng-model="$ctrl.selected.name" value="HTML">
                HTML
            </label>
            <label class="footerLabel" ng-show="$ctrl.showPaths">
                <input type="radio" ng-model="$ctrl.selected.name" value="PLAIN">
                Plain
            </label>
            <label class="footerLabel" ng-show="$ctrl.showPaths">
                <input type="radio" ng-model="$ctrl.selected.name" value="RST">
                RST
            </label>
        </div>
        <div ng-show="$ctrl.showPaths">
            <label class="footerLabel" title="If you think images have changed after last print">
                <input type="checkbox" ng-model="$ctrl.removeOldImages">
                Reload external images
            </label>
        </div>
        <div ng-show="$ctrl.showPaths">
            <label class="footerLabel" title="Use this in case referenced docs have changed">
                <input type="checkbox" ng-model="$ctrl.forceRefresh">
                Force reprint (skip cache)
            </label>
        </div>
        <button class="btn timButton" ng-click="$ctrl.create()">
            <span ng-show="$ctrl.loading"><tim-loading></tim-loading> Creating</span>
            <span ng-hide="$ctrl.loading">Create</span>
        </button>
        <div id="print-success" ng-show="$ctrl.docUrl && !$ctrl.errormsg" class="alert alert-success">
            <p><span class="glyphicon glyphicon-ok"></span>Creation succeeded! <a ng-href="{{ $ctrl.docUrl }}"
                                                                                  target="_blank">View the document.</a>
            </p>
        </div>
    </dialog-body>
    <dialog-footer></dialog-footer>
</tim-dialog>
